@model InboxMessage
<div>
    <h1>@Model.Title</h1>
    <a class="link" asp-action="Inbox"><img src="~/Textures/arrow.png" class="back-icon" /> Back</a>
    <br>
    <p class="user-text">@Model.Message</p>
</div>