@model PFPModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<h2>@Model.UserName</h2>
<img src="@Model.ReturnFile"/>
<a asp-action="ViewContributions" asp-route-userName="@Model.UserName">Contributions made by @Model.UserName</a>
@{
	if(SignInManager.UserManager.GetUserAsync(User).Result.UserName == Model.UserName)
	{
		<a href="~/Identity/Account/Manage">Change PFP</a>
		<a href="~/Identity/Account/Manage/Password">Change password</a>
		<a href="~/Identity/Account/Logout">Log out</a>
	}
}