@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> Manager

<div class="left-div">
    <h1>@ViewData["Title"]</h1>
    <a class="link" asp-route-userName="@Manager.UserManager.GetUserAsync(User).Result.UserName" asp-controller="User" asp-action="UserPage">Back</a>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <label asp-for="Input.OldPassword" class="account-label">Old password</label>
                <input asp-for="Input.OldPassword" class="account-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.NewPassword" class="account-label">New password</label>
                <input asp-for="Input.NewPassword" class="account-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword" class="account-label">Confirm pasword</label>
                <input asp-for="Input.ConfirmPassword" class="account-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="account-button">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
