@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> Manager

<div class="left-div">
    <h1>@ViewData["Title"]</h1>
    <a class="link" asp-route-userName="@Manager.UserManager.GetUserAsync(User).Result.UserName" asp-controller="User" asp-action="UserPage"><img src="~/Textures/arrow.png" class="back-icon" /> Back</a>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <label asp-for="Input.OldPassword" class="account-label">Old password</label>
                <div>
                    <input asp-for="Input.OldPassword" class="log-input password-input" autocomplete="current-password" aria-required="true"/>
                    <img class="password-eye" src="~/textures/view.png" onclick="hideOrShowPassword(0)">
                </div>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.NewPassword" class="account-label">New password</label>
                <div>
                    <input asp-for="Input.NewPassword" class="log-input password-input" autocomplete="current-password" aria-required="true"/>
                    <img class="password-eye" src="~/textures/view.png" onclick="hideOrShowPassword(1)">
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword" class="account-label">Confirm pasword</label>
                <div>
                    <input asp-for="Input.ConfirmPassword" class="log-input password-input" autocomplete="current-password" aria-required="true"/>
                    <img class="password-eye" src="~/textures/view.png" onclick="hideOrShowPassword(2)">
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="account-button">Update password</button>
        </form>
    </div>
    <script src="~/js/hideOrShowPassword.js"></script>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
