@page
@model IndexModel

<div class="createForm">
    <h1>My account</h1>
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <p class="account-label">Username: @Model.User1.UserName</p>
                <p class="account-label">Profile Picture</p>
                <img src="@Model.PFP.ReturnFile" class="profile-picDetails"/>
                <p class="account-label"> Upload a new profile picture</p>
                <input type="file" asp-for="@Model.FormFile" name="FormFile"/>
                <button type="submit" class="account-button">Save changes</button>
                <br />
                <a asp-page="ChangePassword">Change password</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
