html {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loginForm {
    display: flex;
    justify-content: center;
}

.loginForm h1 {
  text-align: center;
}

.loginForm label {
  display: block;
  color: black;
  transform: translate(-1%);
  padding-top: 5px;
  padding-bottom: 5px;
}

.loginForm h3 {
  text-align: center;
}

.loginForm h4 {
  padding: 15px;
  font-size: 1.3em;
  padding-left: 0;
  color: gray;
  text-align: center;
}

.loginForm a {
  size: 0.9em;
  text-decoration: none;
  color: rgb(25, 108, 202);
  margin-top: 10px;
  text-align: center;
}

.log-input {
  border: gray solid 2px;
  border-radius: 5px; 
  padding-left: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.4em;
  transform: translate(-1%);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.log-label {
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 0px;
  font-size: 1.2em;
}

.create-input {
  border: gray solid 2px;
  border-radius: 10px; 
  padding-right: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.4em;
  transform: translate(-1%);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.create-textBody {
  border: gray solid 2px;
  border-radius: 10px; 
  padding-right: 200px;
  min-height: 16px;
  font-size: 0.8em;
  transform: translate(-1%);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  min-width: 80vw;
  min-height: 110px;
}

#logreg-button {
  background-color: rgb(2, 71, 2);
  color: white;
  transform: translate(-1%);
}

#searchSelect {
    border: 2px black solid;
    border-radius: 15px;
    width: 150px;
    height: 35px;
    text-align: center;
}

#searchField button {
    border: 1px black solid;
    border-radius: 15px;
    height: 35px;
    color: white;
    background-color: rgb(2, 71, 2);
}

#search {
  display: none;
  border: 2px black solid;
  border-radius: 15px;
  height: 35px;
}

#regionSelect {
    display: none;
    border: 2px black solid;
    border-radius: 15px;
    height: 35px;
}

.destinationDiv {
  border: 3px black solid;
  border-radius: 15px;
  padding: 5px;
  margin: 20px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
}

.destinationDiv a {
    text-decoration: none;
    color: rgb(25, 108, 202);
}

.destinationDiv p {
  color: rgb(53, 53, 53);
  padding-top: 7px;
  padding-bottom: 5px;
}

.destinationDiv a {
  font-size: 1.2em;
  color: rgb(48, 12, 255);
}

.create-label {
    display: block;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-button {
    color: white;
    background-color: rgb(2, 71, 2);
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    border: 3px solid rgb(20, 20, 20);
    border-radius: 7px;
}

.wayDiv {
    display: none;
}

.text-danger {
    display: block;
    font-size: 1.2em;
}

.page-display {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.page-info {
    font-size: 1.6em;
}

#page-info {
    font-size: 1.2em;
    color: rgb(20, 20, 20);
    text-align: left;
    width: max-content;
    max-width: 80vw;
    margin-left: 50%;
    transform: translate(-50%);
}

#page-image {
    width: 60vw;
    margin-left: 50%;
    transform: translate(-50%);
}

.like-div p {
    display: inline-block;
}

.like-div button {
    margin: 20px;
    display: inline-block;
}

.comment-div {
    width: 80vw;
    margin: 0;
    display: flex;
}

.comment-user-data {
    margin-right: 30px;
    margin-left: 0px;
    flex-direction: column;
    flex-grow: 0.2;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border: 4px solid rgb(2, 71, 2);
}

.comment-text-data {
    text-align: left;
    flex-direction: column;
    flex-grow: 2;
    font-size: 1em;
}

.comment-like-div {
    flex-direction: column;
    flex-grow: 1;
    text-align: right;
}

.comment-like-div p {
    display: inline-block;
    margin-right: 20px;
}

.comment-like-div button {
    display: inline-block;
}

.comment-username {
    display: block;
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 1.2em;
}

#comment-post {
    margin-bottom: 30px;
}

#comment-post textarea {
    border: 2px solid rgb(2, 71, 2);
    border-radius: 5px;
    width: 370px;
    height: 60px;
}

#comment-post button {
    position: relative;
    left: 10px;
    bottom: 30px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(2, 71, 2);
    color: white;
}

.create-select {
    border: solid 2px black;
    border-radius: 15px;
    padding: 10px;
}

#regionDisplay {
    color: gray;
    font-size: 2em;
}

#navHed {
    background-color: rgb(2, 71, 2);
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 10px
}

#flexDiv {
    display: flex;
    background-color: rgb(2, 71, 2);
}

.navigator-flex a {
    position: relative;
    color: white;
    text-decoration: none;
    background-color: rgb(2, 71, 2);
    top: 50%;
}

.navigator-flex {
    text-align: center;
    flex: 1;
    font-size: 1.5em;
    color: rgb(2, 71, 2);
    transform:translate(0, -25%);
}

.navigator-text {
    position: relative;
}

.navigator-flex a {
    color: white;
    font-size: 1.8em;
    position:relative;
    top: 50%;
}

.navigator-flex a:hover {
    color: wheat;
}

#logoNav {
    width: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.titleNav {
    color: white;
    text-align: center;
    display: block;
    font-size: 1.5em;
    padding: 5px;
    margin: 10px;
    padding-top: 0px;
}

#submit-a {
    color: green;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

#submit-a:hover {
    color: rgb(2, 71, 2);
}

.navigator-img {
    flex: 0.2;
    margin-top: 10px;
    margin-left: 20px;
}

#ProfileA {
    font-size: 1.8em;
    color: white;
    position: relative;
    top: 55%;
    text-decoration: none;
}

.Username {
    flex: 0.2;
    transform: translateY(-25%);
}

#ProfileA:hover {
    color: wheat;
}

.account-label {
    font-size: 1.5em;
    padding-bottom: 10px;
    color: rgb(20, 20, 20);
}

.profile-picDetails {
    width: 156px;
    border: 3px solid rgb(2, 71, 2);
    display: inline-block;
    margin-bottom: 10px;
}

.account-button {
    color: white;
    background-color: rgb(2, 71, 2);
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    border: 3px solid rgb(20, 20, 20);
    border-radius: 7px;
}

.account-control {
    border: gray solid 2px;
    border-radius: 5px;
    padding-left: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.4em;
    transform: translate(-1%);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

#map {
    width: 80vw;
    height: 40vw;
}

#OldTextP {
    font-size: 1.2em;
    background-color: orangered;
    border: 3px solid black;
    border-radius: 10px;
}

#NewTextP {
    font-size: 1.2em;
    background-color: greenyellow;
    border: 3px solid black;
    border-radius: 10px;
}

.editDiv {
    border: 3px solid gray;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.edit-redirect {
    color: lightgreen;
    font-size: 1.2em;
}

.comment-div {
    display: none;
}

#repliesDiv {
    border: 2px solid black;
}