@using Microsoft.AspNetCore.Identity
@model MyBG.Models.PageModelContainer
@inject SignInManager<IdentityUser> SignInManager


@{
	ViewData["Title"] = "Home Page";
}

<form id="searchField" asp-action="AllCulturePost">
	<select asp-for="DisplayType" oninput="showOrHideSearch()" id="searchSelect">
		<option value="MostLikes">Most Likes</option>
		<option value="Search">Search</option>
		<option value="CultureType">Culture type</option>
	</select>
	<input asp-for="SearchString" id="search"/>
	<select asp-for="CultureType" id="typeSelect">
		<option value="0">Meal</option>
		<option value="1">Tradition</option>
		<option value="2">Dance</option>
	</select>
	<p id="regionSelect"></p>
	<button type="submit">Apply search setting</button>
	<a asp-action="CreateCulture" class="submit-a" id="submit-a">Submit a culture page</a>
</form>
@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
{
	<a asp-controller="Admin" asp-action="EditSubmissionsCulture" class="admin-button-positive">View submissions</a>
}
<br />	
@{
	foreach(var pagey in Model.Pages)
	{
		if (pagey != null)
		{
			<div class="destinationDiv">
				<h3>@pagey.Title</h3>
				<p>@pagey.Summary</p>
				<a asp-action="CulturePage" asp-route-id="@pagey.Id" class="submit-a">View page</a>
			</div>
		}
	}
}

<script src="~/js/site.js"></script>
<script src="~/js/destinationPage.js"></script>