<h1>Copyright for the icons used in MyBG</h1>
<hr />
<a href="https://www.flaticon.com/free-icons/star" title="star icons" class="link">Star icons created by Pixel perfect - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/star" title="star icons" class="link">Star icons created by mim_studio - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/save" title="save icons" class="link">Save icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/bookmark" title="bookmark icons" class="link">Bookmark icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/car" title="car icons" class="link">Car icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/train" title="train icons" class="link">Train icons created by Milkghost Studio - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/bus" title="bus icons" class="link">Bus icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/plane" title="plane icons" class="link">Plane icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/west" title="west icons" class="link">West icons created by hqrloveq - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/user" title="user icons" class="link">User icons created by Smashicons - Flaticon</a>