@model MyBG.Models.PageModel

<div class="createForm">
    <br />
    <form method="post" asp-action="CreatePost" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <h1>Submit a destination</h1>
        <br />
        <label for="titleContainer" class="create-label">Title: </label>
        <input id ="titleContainer" asp-for="Title" class="create-input"/>
        <span asp-validation-for="Title" class="text-danger"></span>
        <label for="descriptionContainer" class="create-label">Description: </label>
        <input id="descriptionContainer" asp-for="Summary" class="create-input" />
        <span asp-validation-for="Summary" class="text-danger"></span>
        <label for="fileCont" class="create-label">Page image:</label>
        <input id="fileCont" asp-for="PageImage" type="file" />
        <label for="region" asp-for="Regions" class="create-label">Region:</label>
        <select asp-for="Regions" class="create-select">
            <option value="0">Southwestern</option>
            <option value="1">Southern</option>
            <option value="2">Southeastern</option>
            <option value="3">Northwestern</option>
            <option value="4">Northern</option>
            <option value="5">Northeastern</option>
        </select>
        <label asp-for="DestinationType" class="create-label">Type of destination:</label>
        <select asp-for="DestinationType" class="create-select">
            <option value="0">Landmark</option>
            <option value="1">Historical site</option>
            <option value="2">Nature site</option>
            <option value="3">Town</option>
        </select>
        <span asp-validation-for="PageImage" class="text-danger"></span>
        <label for="textContainer" class="create-label">Page text:</label>
        <textarea id="textContainer" asp-for="TextBody" class="create-textBody" type=""></textarea>
        <div asp-validation-for="TextBody" class="text-danger"></div>
        <h3>Transport ways</h3>
        <hr />
        <span asp-validation-for="TransportWays" class="text-danger"></span>
    	<div id="transportWaysDiv"></div>
    	<h4>Add a new transport way</h4>
        <label for="from" class="create-label">From</label>
    	<input id="from" class="create-input"/>
        <label for="time" class="create-label">Hours taken</label>
    	<input id="time" class="create-input" />
        <label for="time" class="create-label">Minutes taken</label>
    	<input id="timeMins" class="create-input" />
        <label for="transportWay" class="create-label">Transport way</label>
        <select id="transportWay" class="create-input">
    		<option value="0">Car</option>
    		<option value="1">Train</option>
    		<option value="2">Bus</option>
    		<option value="3">Plane</option>
    	</select>
        <input asp-for="VerifyTransport" id="verify-transport" value=""/>
        <span asp-validation-for="VerifyTransport" class="text-danger"></span>
        <button type="button" class="create-button" onclick="addOption()">Add option</button>
        <h3>Point to your destination on the map</h3>
        <hr />
        <div id="map"></div>
        <p>Or, input exact geographic coordinates</p>
        <input id="xInput" asp-for="Lat" value="42.766109" type="number" oninput="reverseUpdatePos()" />
        <input id="yInput" asp-for="Long" value="25.238558" type="number" oninput="reverseUpdatePos()" />
        <button type="submit" class="create-button" value="Submit">Submit</button>
    </form>
    <script src="~/js/site.js"></script>
    <script src="~/js/initEditMap.js"></script>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
