@model MyBG.Models.PageModel

<h1>@ViewData["Title"]</h1>

<h1>Submit a new destination</h1>
<form method="post" asp-action="CreatePost" enctype="multipart/form-data">
    <label for="TitleContainer">Title: </label>
    <input id ="TitleContainer" asp-for="Title"/>
    <br />
    <label for="DescriptionContainer">Description: </label>
    <input id="DescriptionContainer" asp-for="Summary" />
    <br />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label for="FileCont">Page image:</label>
    <input id="FileCont" asp-for="PageImage" type="file"  />
    <br />
    <label for="TextContainer">Page text:</label>
    <br />
    <input id="TextContainer" asp-for="TextBody" type=""/>
    <br />
    <span asp-validation-for="TextBody" class="text-danger"></span>
    <br />
    <h3>Transport ways</h3>
	<div id="TransportWaysDiv"></div>
	<h4>Add a new transport way</h4>
	<label for="From">From</label>
	<br />
	<input id="From"/>
	<br />
	<label for="Time">Time taken</label>
	<br />
	<input id="Time" />
	<br />
	<label for="TransportWay"></label>
	<br />
	<select>
		<option value="0">Car</option>
		<option value="1">Train</option>
		<option value="2">Bus</option>
		<option value="3">Plane</option>
	</select>
	<button onclick="addOption()"></button>
	<button type="submit">Post</button>
    <input type="submit" value="Submit"/>
</form>
