@using Microsoft.AspNetCore.Identity;
@model MyBG.Models.PageModelContainer
@inject SignInManager<IdentityUser> SignInManager

@{
	ViewData["Title"] = "Home Page";
}

<form id="searchField" asp-action="IndexPost">
	<select asp-for="DisplayType" oninput="showOrHideSearch()" id="searchSelect">
		<option value="MostLikes">Most Likes</option>
		<option value="Region">Region</option>
		<option value="Search">Search</option>
		<option value="Destination">Destinations</option>
	</select>
	<input asp-for="SearchString" id="search"/>
	<select oninput="showOrHideSearch()" asp-for="RegionSelect" id="regionSelect">
		<option value="0">Southwestern</option>
		<option value="1">Southern</option>
		<option value="2">Southeastern</option>
		<option value="3">Northwestern</option>
		<option value="4">Northern</option>
		<option value="5">Northeastern</option>
	</select>
	<select oninput="showOrHideSearch()" asp-for="DestinationTypeSelect" id="typeSelect">
		<option value="0">Landmark</option>
		<option value="1">History site</option>
		<option value="2">Nature site</option>
		<option value="3">Town</option>
	</select>
	<button type="submit">Apply search setting</button>
	<a asp-action="Create" class="submit-a">Submit a destination</a>
	@if(SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
	{
		<a asp-controller="Admin" asp-action="EditSubmissions" class="submit-a">View submissions</a>
	}
</form>
@{
	foreach(var pagey in Model.Pages)
	{
		if (pagey != null)
		{
			<div class="destinationDiv">
				<h3>@pagey.Title</h3>
				<p>@pagey.Summary</p>
				<a asp-action="PageViewer" asp-route-id="@pagey.Id" class="submit-a">View page</a>
			</div>
		}
	}
}

<script src="~/js/site.js"></script>
<script src="~/js/destinationPage.js"></script>