@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using MyBG.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject ApplicationDbContext _context;
@{
    ViewBag.Context = _context;
    ApplicationDbContext? Context = ViewBag.Context as ApplicationDbContext;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBG</title>
    <link rel="icon" href="~/Textures/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBG.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
</head>
<body>
    <div class="main-content">
        @{
            if (SignInManager != null && Context != null)
            {
                <header id="navHed">
                        <div id="flexDiv">
                            <div class="navigator-img">
                                <img id="logoNav" src="~/Textures/Logo.png"/>
                                <p class="titleNav">My BG</p>
                            </div>
                            <div class="navigator-flex">
                                <a asp-area="" asp-controller="Page" asp-action="Index">Destinations</a>
                            </div>
                            <div class="navigator-flex">
                                <a asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                            </div>
                            <div class="navigator-flex">
                                <a asp-area="" asp-controller="Page" asp-action="AllCulture">Culture</a>
                            </div>
                            if(SignInManager.IsSignedIn(User))
                            {
                                <div class="navigator-user">
                                    <img class="account-pfp" src="@Context.PFPs.FirstOrDefault(x => x.UserName == SignInManager.UserManager.GetUserAsync(User).Result.UserName).ReturnFile" />
                                    <a asp-controller="User" asp-action="UserPage" asp-route-userName="@SignInManager.UserManager.GetUserAsync(User).Result.UserName">My account</a>
                                </div>
                            }
                            <br />
                        </div>
                </header>
            }
        }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    @{
        if (SignInManager != null && Context != null)
        {
            <footer class="main-footer">
                <a class="footer-copyright" asp-controller="Page" asp-action="CopyrightIcon">Copyright for icons</a>
            </footer>
        }    
    }
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
