@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBG.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <header id="navHed">
                    <div id="flexDiv">
                        <div class="navigator-img">
                            <img id="logoNav" src="~/Textures/Logo.png"/>
                            <p class="titleNav">My BG</p>
                        </div>
                        <div class="navigator-flex">
                            <a asp-area="" asp-controller="Page" asp-action="Index">Destinations</a>
                        </div>
                        <div class="navigator-flex">
                            <a asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                        </div>
                        <div class="Username">
                            <a href="/Identity/Account/Manage" id="ProfileA">My profile</a>
                        </div>
                        <br />
                    </div>
            </header>
        }
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
