@model ForumQuestion;
<h1>Add new post</h1>
<form asp-action="PostForum" enctype="multipart/form-data" method="post">
	<label for="TitleForum"></label>
	<br />
	<input id="TitleForum" asp-for="Title"/>
	<label for="TextForum"></label>
	<br />
	<input id="TextForum" asp-for="Text" />
</form>