@model ForumQuestion;
<h1>Create a new post</h1>
<form asp-action="PostForum" enctype="multipart/form-data" method="post">
	<label for="TitleForum" class="create-label">Title</label>
	<input id="TitleForum" class="create-input" asp-for="Title"/>
	<span asp-validation-for="Title" class="text-danger"></span>
	<label for="TextForum" class="create-label">Your post</label>
	<textarea id="TextForum" asp-for="Text" class="create-textBody"></textarea>
	<span asp-validation-for="Text" class="text-danger"></span>
	<button type="Submit" class="create-button">Submit the post</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
