@model ForumContainer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<h1>Posts</h1>
<hr />
<form id="searchField" asp-action="Index">
	<select asp-for="SearchType" oninput="showOrHideSearch()" id="searchSelect" name="sortingType" >
		<option value="NewestFirst">Newest First</option>
		<option value="MostLiked">Most Liked</option>
		<option value="Search">Search</option>
	</select>
	<input asp-for="SearchString" name="searchString" id="search"/>
	<button type="submit" class="">Apply options</button>
</form>
<a asp-action="Add" class="submit-a">Create a new post</a>
@{
	foreach(ForumQuestion i in Model.ForumPosts)
	{
		<div>
			<hr />
			<a asp-action="PostViewer" asp-route-id="@i.Id" id="ForumPost" class="post-title">@i.Title</a>
			<br />
			@if(SignInManager.IsSignedIn(User))
			{
				@if (SignInManager.IsSignedIn(User) && SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Admin") || SignInManager.UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Manager"))
				{
					<a asp-action="DeleteForumPost" asp-controller="Admin" class="admin-button" asp-route-id="@i.Id">Delete post</a>
				}
			}
		</div>
	}
}

<script src="~/js/showOrHideInit.js"></script>
<p onload="showOrHideSearch()"></p>
