@model AdminProposalApproveOrDecline
<h1>Are you sure you want to decline the admin application of @(Model.Proposal.UserCreated)?</h1>
<form>    
    <textarea asp-for="Message"></textarea>
    <button type="submit">Approve</button>
</form>