@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="loginForm">
    <div>
        <h1>@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <label asp-for="Input.Username" class="log-label">Username</label>
                <input asp-for="Input.Username" class="log-input" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="log-label">Password</label>
                <input asp-for="Input.Password" class="log-input" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword" class="log-label">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="log-input" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <p>I am a:</p>
            <label for="bulgarianNat">Bulgarian</label>
            <input type="radio" id="bulgarianNat" asp-for="Input.Nationality" value="0"/>
            <label for="foreignNat">Foreigner</label>
            <input type="radio" checked id="foreignNat" asp-for="Input.Nationality" value="1" />
            <label for="foreignInBgNat">Foreigner living in Bulgaria</label>
            <input type="radio" id="foreignInBgNat" asp-for="Input.Nationality" value="2" />
            <button id="logreg-button" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
