@model MyBG.Models.DeclinePostModel

@{
	<h1>Are you sure you want to delete this post?</h1>
	<form method="post" asp-route-id="@Model.Post.Id" enctype="multipart/form-data" asp-action="DeleteForumPostConfirm">
		<p class="user-text">Message for creator of submission</p>
		<textarea asp-for="DeclineMessage" class="message-area"></textarea>
		<span asp-validation-for="DeclineMessage" class="text-danger"></span>
		<button type="submit" class="create-button">Delete post</button>
	</form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
