@model MyBG.Models.ApproveModel

@{
	if (Model.EditModel.CreatePage)
	{
		<h1>Are you sure you want to decline this submission for creation of page @Model.EditModel.PageToEdit.Title ?</h1>
	}
	else
	{
		<h1> Are you sure you want to decline this submission for edit of page @Model.EditModel.PageToEdit.Title ?</h1>
	}
	<form method="post" asp-route-id="@Model.EditModel.ID" enctype="multipart/form-data" asp-action="EditSubmissionDeclineConfirm">
		<p class="user-text">Message for creator of submission</p>
		<textarea class="message-area" asp-for="MessageForDeclined"></textarea>
		<span asp-validation-for="MessageForDeclined" class="text-danger"></span>
		<button type="submit" class="create-button">Decline submission</button>
	</form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
