@model ViewEditsModel

<h1>Submissions for culture pages</h1>
<hr />
@{
	foreach (EditModel model1 in Model.Edits)
	{
		<div class="editDiv">
			<h3>Edit for @model1.PageToEdit.Title</h3>
			<a class="submit-a" asp-action="EditSubmissionAdmin" asp-route-id="@model1.ID">View edit</a>
		</div>
	}
}
