@model AssignAdmin;

<h1>Are you sure you want to remove the admin role from @Model.User ?</h1>
<p class="user-text">Message for user</p>
<form method="post" asp-action="ConfirmAdminRemove" enctype="multipart/form-data">    
    <textarea name="Message" class="message-area" asp-for="Message"></textarea>
    <span asp-validation-for="Message" class="text-danger"></span>
    <input name="User" class="hidden" asp-for="User"></input>
    <button type="submit" class="create-button">Remove role</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
