@model MyBG.Models.Users
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

@{
    foreach(var user in Model.AllUsers)
    {
        if(user != null)
        {
            <p>@user.UserName</p>
        }
    }
}


