@model MyBG.Models.PageModelContainer

@{
	ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-route-displayType="@Model.DisplayType">
	<select asp-for="DisplayType">
		<option value="MostLikes">Most Likes</option>
		<option value="Search">Search</option>
	</select>
	<input asp-for="SearchString"/>
	<button type="submit">Apply search setting</button>
</form>
@{
	foreach(var pagey in Model.Pages)
	{
		if (pagey != null)
		{
			<div>
				<h3>@pagey.Title</h3>
				<p>@pagey.Summary</p>
				<a asp-action="PageViewer" asp-route-id="@pagey.Id">View page</a>
			</div>
		}
	}
}
